<li
  (click)="onToggle()"
  class="py-3 flex flex-col cursor-pointer border-b border-gray-200"
  [class.opacity-50]="isGlobalResting"
>
  <div class="flex justify-between items-center">
    <div>
      <p
        [ngClass]="{
          'text-red-700': !isCompleted(),
          'text-green-700': isCompleted()
        }"
        class="text-base font-medium"
      >
        {{ exercise.name }}
      </p>

      <p class="text-sm text-gray-500">
        {{ exercise.reps }} {{ exercise.unit || "reps" }} • {{ exercise.sets }}
        {{ exercise.sets > 1 ? "series" : "serie" }}
      </p>
    </div>

    <div class="text-red-700">
      @if (!isExpanded) { <app-icon name="down" /> } @else {
      <app-icon name="up" /> }
    </div>
  </div>

  @if (isExpanded) {
  <div class="mt-4 pl-2 pr-4 text-sm text-gray-700">
    @if (!isCompleted()) { @if (isResting()) {
    <div class="text-blue-500 font-semibold mt-2">
      🕒 Descanso: {{ countdown() }}s
    </div>
    } @else {
    <div class="flex items-center justify-between">
      <p>🏋️ Comienza la serie {{ currentSet() }} de {{ exercise.sets }}</p>
      <button
        (click)="completeSet(); $event.stopPropagation()"
        class="bg-red-200 text-red-900 px-4 py-1 rounded shadow hover:bg-red-300 disabled:opacity-50 cursor-pointer"
        [disabled]="isGlobalResting"
      >
        Terminé la serie
      </button>
    </div>
    } } @else {
    <p class="flex items-center gap-2 text-green-600 font-semibold mt-2">
      <app-icon name="check" /> ¡Ejercicio completado! Pasa al siguiente.
    </p>
    }
  </div>
  }
</li>
