<header
  class="flex items-center px-6 py-4 bg-gradient-to-r from-red-800 via-red-600 to-red-400 shadow-md relative z-40"
>
  <button
    class="mr-4 text-white hover:text-red-100 transition-colors duration-200 focus:outline-none cursor-pointer"
    (click)="toggleMenu()"
    aria-label="Abrir menú"
  >
    <svg
      width="28"
      height="28"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>

  <h1
    class="text-white text-2xl font-semibold tracking-wide cursor-pointer"
    (click)="toHome()"
  >
    <ng-content></ng-content>
  </h1>

  @if (menuOpen) {
  <app-menu (menuOpen)="toggleMenu()"></app-menu>
  }
</header>
