<nav
  class="fixed top-0 left-0 w-full md:w-2/3 h-full bg-gradient-to-b from-red-100 via-red-50 to-white shadow-2xl z-50 py-8 px-2 overflow-y-auto"
>
  <button
    class="absolute top-6 right-6 text-red-800 hover:text-red-600 transition"
    (click)="toggleMenu()"
    aria-label="Cerrar menú"
  >
    <svg
      width="28"
      height="28"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
    >
      <line x1="6" y1="6" x2="22" y2="22" />
      <line x1="6" y1="22" x2="22" y2="6" />
    </svg>
  </button>

  <h3 class="px-6 text-2xl font-semibold text-red-700 mb-6">Días de rutina</h3>

  <ul class="flex flex-col">
    @for(day of routineDays(); track day.id) { @if (day.isActive) {
    <li (click)="toggleMenu()">
      <a
        [routerLink]="['/routine-details', day.id]"
        [routerLinkActive]="['bg-red-200']"
        [ngClass]="{
          'border-b': day.id !== 1,
          'border-y': day.id === 1,
          'border-gray-200': true
        }"
        class="block w-full px-6 py-4 rounded-lg text-lg text-red-700 font-medium hover:bg-red-100 transition-all duration-200"
      >
        {{ day.name }}
      </a>
    </li>
    } }
  </ul>
</nav>
